#main {
  background-color: lightpink;
}

#form {
  width: 70%;
  margin: auto;
  border: 3px solid #F1F1F1;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

#title {
  text-align: center;
  font-family: Helvetica;
}

#description {
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
}

#survey-form {
  text-align: center;
  font-family: Helvetica;
}

#dropdown {
  text-align: center;
}

#comments {
  height: 50px;
}

#submit {
    background-color: lightpink;
    border-radius: 4px;
    color: white;
    font-size: 1.3em;
    height: 50px;
    width: 106px;
    margin: 10px;
    border: 0px solid;
}

.field {
  height: 20px;
  width: 280px;
  
}

.rowTab {
 /* border: solid blue 5px; */
}

.labels {
  /* border: solid red; */
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  /* border: solid red; */
  display: inline-block;
  text-align: left;
  width: 48%;
  padding: 1px;
  vertical-align: middle;
  margin-top: 10px;
}
