body {
 background: linear-gradient(90deg, #3e94ea 0%, #1fc8db 51%, #2cb5e8 75%);
 font-family: arial;
}

#box1 {
  position: absolute;
  top: 135px;
  left: 10%;
  background-color: #b1d4f6;
  width: 70%;
  height: 300px;
  padding: 30px;
}

#box1b {
  /* border: solid; */
  float: right;
  width: 37%;
  height: 99%;
  text-align: center;  
}

#noAccount {
  position: relative;
  top: 30%;
  font-size: 180%;
  color: white;
}

#box2 {
  background-color: white;
  position: absolute;
  top: 80px;
  left: 20%;
  width: 30%;
  height: 400px;
  padding: 30px;
}

#login {
  font-size: 180%;
}

#loginForm {
  position: relative;
  text-align: center;
  top: 20%;
}

.inputField {
  position: relative;
  width: 95%;
  height: 40px;
  font-size: 120%; 
  padding: 5px;
}

.loginBtn {
  background: orange;
  width: 30%;
  height: 60px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 120%;
}

.createBtn {
  background: none;
  width: 30%;
  height: 60px;
  border: solid;
  border-radius: 3px;
  color: white;
  font-size: 80%;
}
